<template>
  <validation-observer v-slot="{ invalid, handleSubmit }" ref="form">
    <form @submit.prevent="handleSubmit(onSubmit)" autocomplete="off" class="text-right">
      <!-- NAME -->
      <validation-provider v-slot="{ errors }" vid="name" name="name" rules="required" filled>
        <v-text-field v-model="name" label="Name" :error-messages="errors" filled />
      </validation-provider>
      <!-- NAME -->

      <!-- EMAIL -->
      <validation-provider v-slot="{ errors }" vid="email" name="email" rules="required|email">
        <v-text-field v-model="email" label="Your email" :error-messages="errors" filled />
      </validation-provider>
      <!-- EMAIL -->

      <!--COMMENT -->
      <validation-provider v-slot="{ errors }" vid="body" name="body" rules="required" filled>
        <v-textarea
          filled="filled"
          name="input-7-4"
          label="Body"
          :error-messages="errors"
          v-model="body"
        />
      </validation-provider>
      <!--COMMENT -->

      <v-btn
        depressed="depressed"
        color="primary"
        type="submit"
        :disabled="invalid"
        :loading="loading"
      >Post</v-btn>
    </form>
  </validation-observer>
</template>

<script>
import { createHelpers } from "vuex-map-fields";

const { mapFields } = createHelpers({
  getterType: "posts/getField",
  mutationType: "posts/updateField"
});

export default {
  name: "PostCreateForm",
  computed: {
    ...mapFields([
      "editComment.data.name",
      "editComment.data.email",
      "editComment.data.body"
    ])
  },
  data: () => ({
    loading: false
  }),
  methods: {
    async onSubmit() {
      this.loading = true;

      if (this.$store.state.posts.editComment.id === "") {
        await this.$store.dispatch("posts/saveComment");
      } else {
        await this.$store.dispatch("posts/updateComment");
      }

      this.name = "";
      this.email = "";
      this.body = "";
      this.$refs.form.reset();
      this.loading = false;
    }
  }
};
</script>
