<template>
  <div>
    <v-dialog :value="isOpened" persistent max-width="600px">
      <v-card>
        <v-card-title>Edit a Comment</v-card-title>
        <v-card-text>
          <v-container>
            <comment-form />
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="close(false)">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import CommentForm from "./CommentForm";
import { mapActions, mapState } from "vuex";
export default {
  components: { CommentForm },
  computed: {
    ...mapState({
      isOpened: state => state.posts.commentDialogIsOpened
    })
  },
  mounted() {},
  methods: {
    ...mapActions({
      close: "posts/setCommentDialogStatus"
    })
  }
};
</script>
