import { mapState } from 'vuex';
<template>
  <div class="comments__list">
    <h3>Comments</h3>

    <v-list three-line="three-line">
      <template v-for="(comment, index) in post.comments">
        <v-list-item :key="index" class="my-5">
          <v-list-item-avatar>
            <v-img :src="cat"></v-img>
          </v-list-item-avatar>

          <!-- COMMENT CONTENT -->
          <v-list-item-content>
            <v-list-item-title>
              <div>{{comment.name}}</div>
              <div class="body-2 grey--text">
                <v-icon size="16">mdi-mail</v-icon>
                {{comment.email}}
              </div>
            </v-list-item-title>
            <v-list-item-subtitle class="mt-3">{{comment.body}}</v-list-item-subtitle>
            <div class="d-flex mt-5" v-if="!hideActions">
              <v-btn
                small
                text
                color="green"
                class="font-weight-bold"
                @click="editComment(comment)"
              >
                <v-icon>mdi-pencil</v-icon>Edit
              </v-btn>
              <v-btn
                small
                text
                color="red"
                class="font-weight-bold"
                @click="openDeleteConfirmation(comment)"
              >
                <v-icon>mdi-delete</v-icon>Delete
              </v-btn>
            </div>
          </v-list-item-content>
          <!-- COMMENT CONTENT -->
        </v-list-item>
      </template>
    </v-list>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  name: "PostComments",
  props: {
    hideActions: {
      type: Boolean,
      default: () => false
    }
  },
  computed: {
    ...mapState({
      post: state => state.posts.editPost
    })
  },
  data: () => ({
    unsubscribeToDelete: null,
    cat:
      "https://i2.wp.com/hipertextual.com/wp-content/uploads/2019/05/hipertextual-muere-grumpy-cat-gata-que-impulso-miles-memes-internet-2019278176.jpg?w=1600&ssl=1"
  }),
  mounted() {
    this.onDeleteConfirmed();
  },
  destroyed() {
    this.unsubscribeToDelete();
  },
  methods: {
    ...mapActions({
      editComment: "posts/editComment",
      deleteComment: "posts/deleteComment"
    }),
    openDeleteConfirmation(comment) {
      this.$store.dispatch("app/openConfirmation", {
        title: `Post ${this.post.id} - Comments`,
        action: "delete_comment",
        caption: `Are you sure to delete the ${comment.name}'s comment?`,
        item: comment
      });
    },
    onDeleteConfirmed() {
      this.unsubscribeToDelete = this.$store.subscribe((mutation, state) => {
        const confirmation = state.app.confirmationModal;

        if (
          confirmation.accepted &&
          confirmation.action === "delete_comment" &&
          mutation.type === "app/CONFIRMATION_ACCEPTANCE"
        ) {
          console.log("OWA DLETING COMMENT");
          this.deleteComment(confirmation.item.id);
        }
      });
    }
  }
};
</script>
