<template>
  <v-container class="white mt-5 pa-10">
    <v-data-table :headers="headers" :items="posts" :items-per-page="10" class="elevation-1">
      <!---HEADER -->
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Posts List</v-toolbar-title>
        </v-toolbar>
      </template>
      <!---HEADER -->

      <!-- ACTIONS SLOT -->
      <template v-slot:item.actions="{item}">
        <v-icon medium color="green" class="mr-2" @click="onViewPost(item)">mdi-eye</v-icon>
        <v-icon medium color="blue" class="mr-2" @click="onViewPostComments(item)">mdi-chat</v-icon>
      </template>
      <!-- ACTIONS SLOT -->
    </v-data-table>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "PostsIndexPage",
  computed: {
    ...mapState({
      posts: state => state.posts.list
    })
  },
  data: () => ({
    headers: [
      {
        text: "Id",
        sortable: true,
        value: "id"
      },
      {
        text: "title",
        value: "title",
        sortable: true
      },
      {
        text: "Actions",
        value: "actions",
        sortable: false
      }
    ]
  }),
  mounted() {
    this.$store.dispatch("posts/getAll");
  },
  methods: {
    async onViewPost(post) {
      this.$router.push({
        name: "Post Page",
        params: { id: post.id }
      });
    },
    async onViewPostComments(post) {
      this.$router.push({
        name: "Post Comments Page",
        params: { id: post.id }
      });
    }
  }
};
</script>
