import { mapState } from 'vuex';
<template>
  <v-container>
    <!-- EDIT DIALOG -->
    <post-edit-dialog />
    <!-- EDIT DIALOG -->

    <!-- SKELETON LOADING -->
    <v-sheet v-if="loading">
      <v-skeleton-loader class="mx-auto" max-width="100%" type="card" height="600" />
    </v-sheet>
    <!-- SKELETON LOADING -->
    <div v-else>
      <h1 class="h2 blue--text">MANAGE THE COMMENTS - POST {{post.id}}</h1>
      <post-comments class="mt-10" />
    </div>
  </v-container>
</template>
<script>
import { mapState } from "vuex";
import PostComments from "../components/posts/PostComments.vue";
import PostEditDialog from "../components/posts/CommentEditDialog.vue";
export default {
  components: { PostComments, PostEditDialog },
  name: "PostCommentsPage",
  data: () => ({
    loading: true
  }),
  computed: {
    ...mapState({
      post: state => state.posts.editPost
    })
  },
  mounted() {
    this.$store
      .dispatch("posts/getPostById", this.$router.currentRoute.params.id)
      .then(loaded => {
        if (loaded) {
          this.loading = false;
        }
      });
  }
};
</script>
