<template>
  <v-container class="white mt-5">
    <!-- SKELETON LOADING -->
    <v-sheet v-if="loading">
      <v-skeleton-loader class="mx-auto" max-width="100%" type="card" height="600" />
    </v-sheet>
    <!-- SKELETON LOADING -->

    <template v-else>
      <!-- POST HEADER -->
      <p class="grey--text subtitle-2 mb-1">
        Posted by
        <b>User with ID {{post.userId}}</b>
      </p>
      <h1 class="h1 text-darken-2">{{post.title}}</h1>
      <v-chip class="mt-1" color="primary">Technology</v-chip>

      <v-img
        class="mt-10"
        lazy-src="https://picsum.photos/id/11/10/6"
        max-height="400"
        max-width="100%"
        :src="poster"
      />
      <div class="mt-2 text-center grey--text">Image caption</div>
      <!-- POST HEADER -->

      <div class="mt-5 text-justify">{{post.body}}</div>

      <!--COMMENTS AREA -->
      <div class="comments mt-10">
        <!-- NEW COMMENT -->
        <div class="comments__post-new">
          <h3 class="blue--text text-bold mb-5">Leave your comment below</h3>
          <post-create-form />
        </div>
        <!-- NEW COMMENT -->

        <v-divider class="my-10"></v-divider>

        <post-comments hide-actions />
      </div>
    </template>
  </v-container>
</template>
<style scoped>
.container {
  max-width: 1000px;
}
</style>
<script>
import { mapState } from "vuex";
import PostCreateForm from "../components/posts/CommentForm.vue";
import PostComments from "../components/posts/PostComments.vue";
export default {
  components: { PostCreateForm, PostComments },
  name: "PostPage",
  computed: {
    ...mapState({
      post: state => state.posts.editPost
    })
  },
  data: () => ({
    loading: true,
    poster:
      "https://images.unsplash.com/photo-1431440869543-efaf3388c585?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80"
  }),
  async mounted() {
    await this.$store.dispatch("posts/resetEditComment");
    this.$store
      .dispatch("posts/getPostById", this.$router.currentRoute.params.id)
      .then(loaded => {
        if (loaded) {
          this.loading = false;
        }
      });
  }
};
</script>
