<template>
  <v-snackbar :value="alert.display" top :color="alert.type">
    {{ alert.caption }}
    <template v-slot:action="{ attrs }">
      <v-btn color="white" text v-bind="attrs" @click="onClose">Close</v-btn>
    </template>
  </v-snackbar>
</template>
<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "Alert",
  computed: {
    ...mapState({
      alert: state => state.app.alertMessage
    })
  },
  methods: {
    ...mapActions({
      onClose: "app/hideAlert"
    })
  }
};
</script>
