<template>
  <v-sheet rounded="lg">
    <v-list-item-group color="primary">
      <v-list-item
        :key="menuItem.name"
        v-for="menuItem in menuItems"
        @click="onOpenSection(menuItem.route)"
        :disabled="menuItem.route === null"
      >
        <v-list-item-icon>
          <v-icon v-text="menuItem.icon"></v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{ menuItem.name }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list-item-group>
  </v-sheet>
</template>

<script>
export default {
  data: () => ({
    menuItems: [
      {
        name: "Posts",
        icon: "mdi-chart-arc",
        route: "Posts"
      }
    ]
  }),
  methods: {
    onOpenSection(route) {
      this.$router.push({ name: route });
    }
  }
};
</script>
