<template>
  <v-app id="app">
    <alert />
    <confirmation-dialog />
    <!-- TOOLBAR -->
    <v-app-bar app color="white" flat>
      <v-container class="py-0 fill-height">
        <v-img src="/img/logo.png" contain max-height="50" />
        <v-spacer></v-spacer>

        <v-responsive max-width="260" class="d-flex flex-nowrap">
          <v-icon color="blue" size="32px">mdi-account</v-icon>
          <div class="d-inline-flex grey--text darken-4 ml-3">José de Jesús Jaime Trejo</div>
        </v-responsive>
      </v-container>
    </v-app-bar>
    <!-- TOOLBAR -->

    <v-main class="grey lighten-3">
      <v-container>
        <v-row>
          <v-col cols="2">
            <sidebar />
          </v-col>

          <v-col>
            <v-sheet min-height="70vh" rounded="lg" class="pa-6">
              <!--  -->
              <router-view></router-view>
            </v-sheet>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Alert from "./components/Alert.vue";
import Sidebar from "./components/Sidebar.vue";
import ConfirmationDialog from "./components/ConfirmationDialog.vue";

export default {
  components: { ConfirmationDialog, Sidebar, Alert }
};
</script>
